<div class="navbar-fixed">
  <ul id="association-drop" class="dropdown-content">
    {{#each associations}}
    <li><a href="#!" class="amber-text right-align">{{this.name}}</a></li>
    {{/each}}
    <li class="divider"></li>
    <li><a href="#!" class="blue-text right-align">All</a></li>
  </ul>
  <nav class="nav-extended light-blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">REAL Exchange</a>
      <ul id="nav-mobile" class="right">
        <li><a class="dropdown-button" href="#!" data-activates="association-drop"><span class=" hide-on-med-and-down">Atlanta REALTORS&reg; Association</span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#home">Home</a></li>
        <li class="tab"><a href="#contacts">Contacts</a></li>
        <li class="tab" id="js-get-post"><a href="#posts">Posts</a></li>
      </ul>
    </div>
  </nav>
</div>
