<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!-- ====================== -->
  <!-- ===== NAVIGATION ===== -->
  <!-- ====================== -->

  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!" class="amber-text right-align">Atlanta REALTORS&reg; Association</a></li>
      <li><a href="#!" class="blue-text right-align">Habersham, White &amp; Stevens Board of REALTORS&reg;</a></li>
      <li class="divider"></li>
      <li><a href="#!" class="blue-text right-align">All</a></li>
    </ul>
    <nav class="nav-extended light-blue">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">REAL Exchange</a>
        <ul id="nav-mobile" class="right">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><span class=" hide-on-med-and-down">Atlanta REALTORS&reg; Association</span><i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#home">Home</a></li>
          <li class="tab"><a href="#contacts">Contacts</a></li>
          <li class="tab"><a href="#messages">Messages</a></li>
          <li class="tab" id="js-get-post"><a href="#posts">Posts</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ====================== -->
  <!-- ===== End NAVIGATION ===== -->
  <!-- ====================== -->
  <main class="dashboard-main">

  <!-- ======================== -->
  <!-- ===== Home Section ===== -->
  <!-- ======================== -->

    <div id="home">

      <!-- Settings Icon -->
      <div class="row user-settings-icon blue-text">
        <div class="col s12">
          <div>
            <a href="#settings" class="js-settings"><i class="material-icons right hovered">settings</i></a>
          </div>
        </div>
      </div>
      <!--  Settings -->
      <div class="side-pull-out white-text z-depth-2 red lighten-1 absolute-right" id="settings">
        <a href="#settings" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
        <div class="row">
          <div class="col s12 settings-menu-options">
            <div class="center dont-break-on-overflow">
              <ul>
                <li><a href="#edit-info" class="js-settings">Edit Public Info</a></li>
                <li><a href="#" class="js-settings">Manage Associations/Boards</a></li>
                <li><a href="#leave-feedback" class="js-settings">Leave Feedback</a></li>
                <li><a href="#about-us" class="js-settings">About REAL Exchange</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--  Settings Edit Info -->
      <div class="side-pull-out blue darken-4 white-text absolute-right" id="edit-info"></div>
      <!--  Settings Leave Feedback -->
      <div class="side-pull-out blue darken-4 white-text absolute-right" id="leave-feedback">
        <a href="#leave-feedback" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
        <div class="row">
          <form class="col s12">
            <div class="settings-menu-options dont-break-on-overflow">
              <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                  <textarea id="settings-bio" class="materialize-textarea" placeholder="Tell us what you think!"></textarea>
                  <label for="Feedback">We value your feedback</label>
                </div>
                <div class="col s12 m8 offset-m2">
                  <button class="btn waves-effect waves-light amber" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--  Settings About Us -->
      <div class="side-pull-out blue darken-4 white-text absolute-right" id="about-us">
        <a href="#about-us" class="js-push-back"><img class="pull-out-back-icon"  src="/assets/images/arrow-right.svg" /></a>
        <div class="row">
          <div class="col s12">
            <div class="settings-menu-options dont-break-on-overflow">
              <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                  <h5 class="center">REAL Exchange</h5>
                  <blockquote class="left-border-color-amber">The mission of REAL Exchange is to bring REALTORS&reg; closer together and to help them to grow their business and expand their network.</blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- User Page -->
      <div class="row" id="user-page"></div>
    </div>
    <!-- ============================ -->
    <!-- ===== Contacts Section ===== -->
    <!-- ============================ -->
    <div id="contacts" class="col s12">Contacts</div>
    <!-- ============================ -->
    <!-- ===== Messages Section ===== -->
    <!-- ============================ -->
    <div id="messages" class="col s12">Messages</div>
    <!-- ========================= -->
    <!-- ===== Posts Section ===== -->
    <!-- ========================= -->
    <div id="posts">
      <div class="row">
        <div class="col s12" id="parent-div">
          <ul class="tabs transparent">
            <li class="tab col s3"><a id="my-posts-tab" href="#my-posts">My Posts</a></li>
            <li class="tab col s3" id="js-get-all-posts"><a href="#all-posts">All Posts</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div id="my-posts">
          <div class="new-post-button-container">
            <div class="new-post-button waves-effect waves-light red">
              <a class="white-text"><span class="new-post-button-font">Create New</span><i class="material-icons new-post-button-icon">add</i></a>
            </div>
          </div>

          <div class="post" id="js-my-post"></div>
        </div>
      </div>
          <!-- <div class="row">
            <div class="col s12">
              <button class="btn waves-effect waves-light light-blue right" type="submit" name="action">Create New
              </button>
            </div>
          </div> -->
        <div id="all-posts" class="col s12">
          <div class="post" id="js-all-posts"></div>
        </div>

        <div class="side-pull-out absolute-right white z-depth-2" id="view-post"></div>
    </div>
  </main>

  <!--Import jQuery before materialize.js-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
