<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/login.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="light-blue">
  <main>
    <div class="row">
      <div class="col s12 white-text center">
        <h3>REAL Exchange</h3>
        <p>How REALTORS&reg; Connect</p>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1 m4 offset-m4 white form-container z-depth-2">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="license_number" type="text" class="validate">
                <label for="license_number">License #</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col s6 offset-s3 center">
            <button class="btn waves-effect waves-light amber" type="submit" name="action">Login</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--Import jQuery before materialize.js-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
