
  <main class="login-screen">
    <div class="row">
      <div class="col s12 white-text center">
        <h3>REAL Exchange</h3>
        <p>How REALTORS&reg; Connect</p>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1 m4 offset-m4 white form-container z-depth-2">
        <div class="row">
          <form class="col s12" method="post" action="/login">
            <div class="row">
              <div class="input-field col s12">
                <input id="licenseNumber" type="text" class="validate" name="licenseNumber">
                <label for="licenseNumber">License #</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s6 offset-s3 center">
                <button class="btn waves-effect waves-light amber" type="submit" id="js-login">Login</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </main>
