* {
  box-sizing: border-box;
}

/* LOGIN SCREEN */
/* label focus color */
.login-screen .input-field input[type=text]:focus + label {
  color: #ffc107;
}
/* label underline focus color */
.login-screen .input-field input[type=text]:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}
main .login-screen {
  transform: translateY(25%);
}

.login-screen .form-container {
  border-radius: 4px;
  padding-top: 20px !important;
}
/* End LOGIN SCREEN */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url('/assets/images/background.svg');
    background-size: cover !important;
    background-position: center center;*/
  }

.hidden {
  display: none;
}

main {
  flex: 1 0 auto;
  margin-top: 48px;
}


.word-break {
  word-break: break-all;
}

.hovered:hover {
  cursor: pointer;
}

.tabs .indicator {
    background-color: #ffc107 !important;
}

#association-drop {
  width: 100% !important;
  margin-top:112px;
}

.user-settings-icon {
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
}

.user-info-displayed p {
  margin-top: 16px;
}

.left-border {
  border-left: 1px solid #ffc107;
}

.left-border-color-amber {
  border-left-color: #ffc107;
}

.left-padding {
  padding-left: 24px;
}

.card-image {
  max-width: 100px !important;
  max-height: 100px;
  overflow: hidden !important;
  border-radius: 0 0 2px 0;
}

.post p {
  margin: 0;
}

.tabs .tab a {
  color: #81d4fa;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #03a9f4;
}

.side-pull-out {
  overflow-x: hidden;
  position: fixed;
  width: 0;
  z-index: 2;
}

.full-height {
  top: 112px;
  height: calc(100vh - 112px);
}

.slider-img {
  height:auto;
  width:100%;
}

.absolute-right {
  top: 112px;
  right: 0;
}

.absolute-left {
  top: 112px;
  left: 0;
}

/* ======= Settings Menu ======= */
.dark-blue-bg {
  background-color: rgb(11, 45, 71);
  color: #fff;
}

.dont-break-on-overflow {
  min-width: 350px;
}

.settings-menu-options {
  transform: translateY(10vh);
}

.settings-menu-options a {
  color: #fff;
}

.settings-menu-options a:hover {
  color: #ffc107;
}

.pull-out-back-icon {
  float: right;
  height: 30px;
  width: auto;
  margin: 5px;
}
/* End of settings */

/* New Post Button */
.new-post-button-container {
  position:fixed;
  width:60px;
  height:60px;
  right: 10px;
  z-index:1;
  bottom:10px;
  overflow-x: hidden !important;
  transition: .4s;
}

.new-post-button {
  width:100%;
  height:100%;
  border-radius: 50%;
  overflow: hidden !important;
}

.new-post-button-font {
  line-height:60px;
  font-size:1.6rem;
  position: absolute;
  left:12.5px;
  line-height:60px;
  color: transparent;
}

.white-out {
  color: #fff;
  transition: .6s;
}

.new-post-button-icon {
  line-height:60px;
  font-size:2.4rem;
  position: absolute;
  right:12.5px;
}

.elongated {
  width: 180px;
  transition: .4s;
}

.elongated-borders {
  border-radius: 500px;
  transition: .4s;
}
/* End of New Post Button */

/* label color */
.side-pull-out .blue .darken-4 .input-field label {
  color: #fff;
}
/* label focus color */
.side-pull-out .input-field input[type=text]:focus + label {
  color: #ffc107;
}
/* label underline focus color */
.side-pull-out .input-field input[type=text]:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

@media screen and (max-width: 600px){
  .absolute-left, .absolute-right {
    height: calc(100vh - 104px);
    top: 104px;
  }

  .full-height {
    height: calc(100vh - 104px);
    top: 104px;
  }
  #association-drop {
    margin-top: 104px;
  }
}
