* {
  box-sizing: border-box;
}

/* LOGIN SCREEN */
/* label focus color */
.login-screen .input-field input[type=text]:focus + label {
  color: #ffc107;
}
/* label underline focus color */
.login-screen .input-field input[type=text]:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

.login-screen .form-container {
  border-radius: 4px;
  padding-top: 20px !important;
}
/* End LOGIN SCREEN */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-image: url('/assets/images/background.svg');*/
  /*background-size: cover !important;*/
  /*background-position: center center;*/
}

.logo {
  width: 200px;
  height: auto;
  padding: 10px !important;
}

.logo-login {
  width: 50%;
  min-width: 200px;
}

.height-115 {
  height: 163px;
}

.icon-blue {
  color: #03a9f4;
}

.icon-green {
  color: #4caf50;
}

.navbar-fixed {
  z-index: 2;
}

nav {
  min-height: 80px;
}

.no-scroll {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

main {
  flex: 1 0 auto;
  margin-top: 48px;
}

.covered {
  width: 100%;
  height: 100%;
  background-color: red;
  position: fixed;
  z-index:1;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.loader-container {
  z-index: 1;
  position: absolute;
  left:50%;
  top:50%;
  margin-top: -25%;
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  left: -50%;
}

/* LOADER 4 */

.loader span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f44336;
  margin: 35px 5px;
  opacity: 0;
}

.loader span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

.loader span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

.word-break {
  word-break: break-all;
}

.hovered:hover {
  cursor: pointer;
}

.tabs .indicator {
    background-color: #ffc107 !important;
}

#association-drop {
  width: 100% !important;
  margin-top:112px;
}

.user-settings-icon {
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
}

.user-info-displayed p {
  margin-top: 16px;
}

.left-border {
  border-left: 1px solid #ffc107;
}

.left-border-color-amber {
  border-left-color: #ffc107;
}

.left-padding {
  padding-left: 24px;
}

.post-image {
  width: 100px !important;
  height: 100px;
  overflow: hidden !important;
  border-radius: 0 0 2px 0;
}

.post p {
  margin: 0;
}

.tabs .tab a {
  color: #81d4fa;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #03a9f4;
}

.side-pull-out {
  overflow-x: hidden;
  position: fixed;
  width: 0;
  z-index: 2;
}

.full-height {
  top: 112px;
  height: calc(100vh - 112px);
}

.slider-img {
  height:auto;
  width:100%;
}

.absolute-right {
  right: 0;
}

.login-screen {
  top:0;
  right: 0;
  height: calc(100vh);
}

#greeting-bio {
  width: 70%;
  margin-left: 15%;
}

#hero-text {
  text-shadow: -1px -1px 2px rgba(18, 30, 74, 0.75);
}

/* ======= Settings Menu ======= */
.dark-blue-bg {
  background-color: rgb(11, 45, 71);
  color: #fff;
}

.dont-break-on-overflow {
  min-width: 350px;
}

.settings-menu-options {
  transform: translateY(10vh);
}

.settings-menu-options a {
  color: #fff;
}

.settings-menu-options a:hover {
  color: #ffc107;
}

.pull-out-back-icon {
  float: right;
  height: 30px;
  width: auto;
  margin: 5px;
}
/* End of settings */

/* New Post Button */
.new-post-button-container {
  position:fixed;
  width:60px;
  height:60px;
  right: 10px;
  z-index:1;
  bottom:10px;
  overflow-x: hidden !important;
  transition: .4s;
}

.new-post-button {
  width:100%;
  height:100%;
  border-radius: 50%;
  overflow: hidden !important;
}

.new-post-button-font {
  line-height:60px;
  font-size:1.6rem;
  position: absolute;
  left:12.5px;
  line-height:60px;
  color: transparent;
}

.white-out {
  color: #fff;
  transition: .6s;
}

.new-post-button-icon {
  line-height:60px;
  font-size:2.4rem;
  position: absolute;
  right:12.5px;
}

.elongated {
  width: 180px;
  transition: .4s;
}

.elongated-borders {
  border-radius: 500px;
  transition: .4s;
}
/* End of New Post Button */

/* label color */
.side-pull-out .blue .darken-4 .input-field label {
  color: #fff;
}
/* label focus color */
.side-pull-out .input-field input[type=text]:focus + label {
  color: #ffc107;
}
/* label underline focus color */
.side-pull-out .input-field input[type=text]:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

@media screen and (max-width: 600px){
  .absolute-left, .absolute-right {
    height: calc(100vh - 104px);
    top: 104px;
  }

  .full-height {
    height: calc(100vh - 104px);
    top: 104px;
  }
  #association-drop {
    margin-top: 104px;
  }
}
